# Build artifacts
/build/
/cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/
/_deps/
*.cmake.in
Makefile
*_include.cmake
*_tests.cmake
.cache
*.png
*.csv
build-aff3ct-tests/
cmake/DartConfiguration.tcl
cmake/_deps/
cmake/bpsk_tests

# Compilers
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.lib
*.pdb
*.out

# IDEs/editors
.vscode/
.idea/
*.swp
*.swo
*~

# Misc
compile_commands.json
*.ninja
.ninja_deps
.ninja_log
*.csv

build-aff3ct-on

*__pycache__*

build-aff3ct
